.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.pagination button {
  width: 30px; 
  height: 30px;  
  border: 2px solid var(--main-color);
  border-radius: 50%;  
  background-color: black;
  color: white; 
  margin: 0 5px; 
  cursor: pointer;
}

.pagination .nav-prev,
.pagination .nav-next {
  border-radius: 2px;
  height: 50%;
  width: 6%;
}

.pagination button:hover {
  scale: 1.05;
  box-shadow: 0 10px 20px 0 var(--main-color);
}

.pagination button:disabled {
  opacity: 0.3;
}

.pagination button:first-child {
  margin-left: 0; 
}

.pagination button:last-child {
  margin-right: 0; 
}
.pagination .page-button.active {
  background-color: #980A0A;
}
.pagination button:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 20px 0 var(--main-color);
}



