.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  width: 70px; 
  height: 30px;
  border: 2px solid var(--main-color);
  border-radius: 35%; 
  background-color: black;
  color: white; 
  margin: 0 5px; 
  cursor: pointer;
}

.pagination button:hover {
  scale: 1.05;
  box-shadow: 0 10px 20px 0 var(--main-color);
}

.pagination button:disabled {
  opacity: 0.3; /* Dim the disabled buttons */
  /* cursor: not-allowed; Change cursor for disabled buttons */
}

/* Style for previous and next buttons */
.pagination button:first-child {
  margin-left: 0; /* Ensure the first button aligns properly */
}

.pagination button:last-child {
  margin-right: 0; /* Ensure the last button aligns properly */
}
