.homebtns{
    height: 90vh;
    display: flex;
    background: white;
}
.homebtns .carousel{
    height: 90vh;
    width: 50vw;
}
.homebtns .carousel:hover{
    width: 75vw;
    transition: all 0.5s ease-in-out;

}
