.card{
    border: 2px solid #ba0c0c;
    border-radius: 8px;
    padding: 30px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: antiquewhite;
    margin: 5px;
    transition: all 0.5s ease-in-out;

}
.card:hover{
    scale: 1.05;
    box-shadow: 0 10px 20px 0 var(--main-color);
}
.card .poster{
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.card:hover .poster{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}
.card .title{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}
.card .likebtn{
    position: absolute;
    bottom: 8px;
    right: 10px;
}
.card .likebtn .fav-icon-white{
    font-size: 30px;
    color: antiquewhite;
}
.card .likebtn .fav-icon{
    font-size: 30px;
    color: var(--main-color);
}