.sort-button{
    background: transparent;
    border: none;
    font-size: 20px;
    color: 	#564d4d;
  }
  .sort-button:hover{
    color: white;
    transition: all 0.2s ease-in-out;
  }
  .tvlist{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0%;
    justify-content: center;
  }
   