.fulll{
    background-color: #0a0909f5;
}
.sort-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "roboto";
  position: relative;
  transition: color 0.3s;
  cursor: pointer;
}

.sort-button::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, rgba(0,91,65,1) 31%, rgba(0,129,112,0.8988603988603988) 100%);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.sort-button:hover {
  color: #008170; 
}

.sort-button:hover::after {
  width: 100%; 
}    