.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #121212;
}
nav ul {
  padding: 0;
  margin: 0;
  text-align: center; 
}
  
nav ul li {
  display: inline-block;
  margin: 10px 20px;
  list-style: none;
}
  
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  position: relative;
  transition: color 0.3s; 
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, rgba(0,91,65,1) 31%, rgba(0,129,112,0.8988603988603988) 100%); 
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s; 
}

nav ul li a:hover {
  color: #008170; 
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 18%;
  font-size: 30px;
}
.navbar h1 {
  font-size: 24px;
  color: #ffffff; 
  margin: 0;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #ECECEC; 
}  
