.movielist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card{
  background-color: #B47B84;
  border-radius: 20px;
  padding: 35px;
  list-style: none;
  height: 85%;
  width: 75%;
  

}
.title{
  font-size: 25px;
  color: #FFE7E7;
}
.fav-heart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.fav-heart p{
  font-weight: 700;
}
.fav-icon{
  height: 50px;
  width: 50px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #944E63;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.nav li{
  background-color: #6D2932;
  padding: 10px;
  border-radius: 15px;
  list-style: none;
  text-align: center;
}
.nav li a{
  text-decoration: none;
}
.search input{
  padding: 10px;
  border-radius: 15px;
  border: none;
  margin-right: 5px;
}
.search button{ 
   background-color:#7FC7D9 ;
   padding: 10px;
   border-radius: 15px;
   text-align: center;
   border: none;
}